@font-face {
  font-family: new-rodin;
  src: url(./FOT-NewRodinProDB.otf);
}
:root {
  --background: #333333;
  --dominant: rgba(39, 165, 75, 0.75);
  --secondary: rgba(40, 152, 96, 0.75);
  --accent: rgb(40, 39, 128);
}
a {
  color: var(--accent);
  text-decoration: none;
  border-radius: 10px;
  padding: 10px;
}
a:hover {
  text-decoration: underline;
}
body {
  background-color: var(--background);
  /*color: white;*/
}
h1 {
  text-align: center;
}
h1, h2, h3 {
  font-family: new-rodin;
}
h2, p {
  margin: 10px;
}
html {
  height: 100%;
}
i {
  font-size: 2rem;
  padding: 10px;
}
input, select, textarea {
  border: none;
  border-radius: 5pt;
  margin: 5pt;
  padding: 1pt 5pt 1pt 5pt;
}
.col {
  margin: 1em;
  background-color: var(--secondary);
  border-radius: 1em;
}
.footer, nav {
  background-color: var(--dominant);
}
.navbar-brand {
  margin: 10px;
}
.navbar-toggler {
  margin: 10px;
}
.nav-item {
  color: var(--accent);
}
.main-row {
  background-color: rgba(102, 102, 102, 0.75);
  border-radius: 1em;
}
.webgl {
  position: fixed;
  z-index: -1;
}